[data-elm-hot='true'] {
  height: inherit;
}
@font-face {
  font-family: kabel;
  src: url(/static/media/kabel.9b57dfa0.ttf);
}
.bd-pageheader p {
  margin-right: 0;
}
pre > code {
  font-family: kabel;
}
.nb.e > .wf {
  padding: 20px 60px 20px 60px;
}
img.height-px-25px {
    height: 40px;
}
.hc.ah.ar.s.e.wc {
    margin: 0;
}
.hc.p-16-8.cptr.s.r.wf.cl.ccy {
    padding: 12px 16px 12px 16px;
}
.hc.fc-97-174-238-255 {
    color: #FF5757;
}
.bg-33-37-43-255 {
    background-color: #212143;
}